<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d %5p [%c] %m%n</Pattern>
		</encoder>
	</appender>
	
	<appender name="console-infolog" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d %5p %m%n</Pattern>
		</encoder>
	</appender>
	
	<springProfile name="dev">
		<logger name="com.enclouds.delcalc" level="DEUBG" appender-ref="console"/>
		<logger name="jdbc.sqlonly" level="INFO" appender-ref="console-infolog"/>
		<logger name="jdbc.resultsettable" level="INFO" appender-ref="console-infolog"/>
	</springProfile>
	
	
	<springProfile name="production">
		<logger name="com.enclouds.delmonpay" level="ERROR" appender-ref="console"/>
	</springProfile>
	
	
	<root level="error">
		<appender-ref ref="console"/>
	</root>
</configuration>